* {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 84px;
    background-color: #007765;
    ;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_image {
    position: absolute;
}

.navigation {
    display: flex;
    align-items: center;
}

.pipernet_image {
    max-width: 1440px;
}

.navigation_text {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    margin-right: 8px;
}

.navigation_text:hover {
    color: rgb(201, 201, 201);
}

.pipernet { 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.pipernet_text {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 52px;
    color: #FFFFFF;
}

.the_problem {
    display: flex;
    justify-content: center;
}

.the_problem_content {
    position: absolute;
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    flex-direction: column;
}

.the_problem_headding {
    font-size: 46px;
    color: #007765;
    font-family: 'Roboto';
    margin-bottom: 16px;
}

.the_problem_text_content {
    font-size: 23px;
    color: #000000;
    font-family: 'Roboto';
    width: 800px;
}

.the_problem_image {
    max-width: 1440px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_text {
    position: absolute;
    color: #FFFFFF;
    font-size: 35px;
    font-family: 'Roboto';
    width: 700px;
    font-style: italic;
    text-align: center;
}

.hero_image {
    max-width: 1440px;
    
}

.PPC {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PPC_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.PPC_headding {
    font-size: 46px;
    color: #007765;
    font-family: 'Roboto';
}

.PPC_logo_text {
    display: flex;
    align-items: center;
}

.PPC_logo {
    margin: 30px 30px 30px 0;
}

.PPC_text {
    font-size: 23px;
    color: #000000;
    font-family: 'Roboto';
}

.PPC_image {
   max-width: 1440px;
}

.the_team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the_team_headding {
    margin: 30px;
    text-align: center;
    color: #007765;
    font-family: 'Roboto';
    font-size: 40px;
}

.the_team_content { 
    width: 1000px;
    position: absolute;
    display: flex;
    height: 800px;
    flex-direction: column;
}

.the_team_background {
    max-width: 1440px;
    height: 700px;
}

.the_team_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

}

.card {
    text-align: center;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
  flex-basis: 30%;
}

.the_team_names {
    color: #007765;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
}

.the_team_position {
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.footer {
    background-color: #333333;;
    height: 180px;
    display: flex;
    align-items: center;
}

.footer_content {
    width: 500px;
}

.footer_text {
    color: #FFFFFF;
    font-family: 'Roboto';
    text-align: center;
}